footer {
  flex-shrink: 0;
  background-color: var(--bg-color);
  padding: .25rem;
  padding-bottom: 1rem;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-links a {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}
