header {
  background-color: var(--bg-color);
  padding-inline: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.link {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: ease-in-out 0.2s;
}

.link:hover {
  background-color: var(--border-color-under-pronounced);
}

.hamburger-menu {
  display: none;

  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--secondary-color);
  transition: color 0.2s, background-color 0.2s;

  height: 40px;
  width: 40px;
}

.hamburger-menu svg {
  width: 100%;
  height: 100%;
}

.theme-switch {
  position: relative;
  background-color: none;
  gap: .5rem;
  display: flex;
  border: 1px solid var(--border-color-pronounced);
  border-radius: 9999px;
  padding: 3px;
}

.theme-indicator {
  z-index: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;

  background-color: var(--indicator-bg);

  margin: 0 0 0 2px;

  border-radius: 9999px;
  transition: transform .3s;

  box-shadow: 0px 0px 5px rgba(123, 123, 123, 0.1);
}

.theme-button {
  z-index: 1;

  height: 20px;
  width: 20px;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: .2rem;
  border-radius: 9999px;
  color: var(--secondary-color);
  font-size: 1.25rem;
  transition: color 0.2s, background-color 0.2s;
}

.theme-button.active {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.theme-button svg {
  display: block;
  height: 100%;
  width: 100%;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
  }

  nav {
    gap: 1rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 390px) {
  .header.link {
    display: none !important;
  }

  .hamburger-menu {
    display: block;
  }
}
