.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 999;
  display: flex;
  flex-direction: column;
  /* animation: slideIn 0.3s ease-out; */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.mobile-nav-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-nav-close:hover {
  opacity: 0.7;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem 2rem;
  height: 100%;
  gap: 2rem;
  flex: 1;
}

.mobile-nav-link {
  font-size: 1.5rem;
  color: var(--text-color);

  display: flex;

  align-items: flex-start;

  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;

  width: 150px;
}

.mobile-nav-link:hover {
  opacity: 0.7;
}

.mobile-nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 2rem;
  border-top: 1px solid var(--border-color);
}

.mobile-nav-link.secondary {
  font-size: 1rem;
  color: var(--text-color-secondary);
}
