main {
  display: flex;

  align-items: center;

  flex: 1 0 auto;
  overflow-y: auto;
  background-color: var(--bg-color);

  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;

  height: 100%;
  min-height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0rem 2rem;
}

.page {
  animation: fadeIn 0.3s ease-in;
  max-width: 740px;
  max-height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  margin-bottom: 3rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.hero .brand {
  font-weight: 700;
}

.section {
  margin-bottom: 1rem;
}

.section a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: underline;
}

.section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.section h1 {
  font-weight: 300;
  color: var(--text-color);
}

.section p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: var(--secondary-color);
}

.section ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: .5rem;
}

.section ul li {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.section ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.2s;
}

.header-section {
  margin-top: 4rem;
}

.header-section p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.restricted-width {
  max-width: 36rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header-section {
    margin-top: 0rem;
  }

  .hero {
    margin-top: 0rem;
    padding: 0rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 520px) {
  .section p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .section.hero h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  main {
    align-items: start;
    justify-content: start;
  }
}
