.showcase-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  color: var(--button-text-color);
  background-color: var(--border-color);
  border: none;
  border-radius: 0.375rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}