:root {
  --bg-color: rgb(246, 247, 249);
  --text-color: rgba(24, 24, 27);
  --accent-color: #2563eb;
  --secondary-color: rgba(24, 24, 27, 0.8);
  --border-color: #e5e7eb;
  --border-color-pronounced: #d1d5db;
  --border-color-under-pronounced: #f0f0f0;

}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: rgb(246, 247, 249);
  --accent-color: #3b82f6;
  --secondary-color: #bfbfbf;
  --border-color-under-pronounced: #2c2c2c;
  --border-color: #404040;
  --border-color-pronounced: #525252;
  --indicator-bg: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "system-ui", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-size: inherit;

}

html {
  /* do not display scrollbars */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */

  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}


body {
  /* do not display scrollbars */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.special-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.thin-font {
  font-weight: 100;
}

.semi-bolded {
  font-weight: 600;
}

.bolded {
  font-weight: 700;
}

.hard-bolded {
  font-weight: 800;
}

html body #root .solid {
  color: var(--text-color);
}

header {
  background-color: var(--bg-color);
  padding-inline: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  gap: .5rem;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

.link {
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 6px;

  transition: ease-in-out 0.2s;
}

.link:hover {
  background-color: var(--border-color-under-pronounced);
}

.theme-switch {
  position: relative;
  background-color: none;
  gap: .5rem;
  display: flex;
  border: 1px solid var(--border-color-pronounced);
  border-radius: 9999px;
  padding: 3px;
}

.theme-indicator {
  z-index: 0;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 22px;
  width: 22px;

  background-color: var(--indicator-bg);

  margin: 0 0 0 2px;

  border-radius: 9999px;
  transition: background-color .3s;

  box-shadow: 0px 0px 5px rgba(123, 123, 123, 0.1);
}

.theme-button {
  z-index: 1;

  height: 20px;
  width: 20px;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: .2rem;
  border-radius: 9999px;
  color: var(--secondary-color);
  font-size: 1.25rem;
  transition: color 0.2s, background-color 0.2s;
}

.theme-button.active {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.theme-button svg {
  display: block;
  height: 100%;
  width: 100%;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

main {
  display: flex;

  align-items: center;

  flex: 1 0 auto;
  overflow-y: auto;
  background-color: var(--bg-color);

    scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1200px;

  height: 100%;
  min-height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0rem 2rem;
}

.page {
  animation: fadeIn 0.3s ease-in;
  max-width: 740px;
  max-height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  margin-bottom: 3rem;
  font-size: 2.25rem;
}

.hero .brand {
  font-weight: 700;
}

.section {
  margin-bottom: 1rem;
}

.section a {
  color: var(--text-color);
  font-weight: 500;
  text-decoration: underline;
}

.section h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  /* bold; */
  color: var(--text-color);
}

.terms-page .section p {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.section h1 {
  font-weight: 300;
  color: var(--text-color);
}

.section p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  color: var(--secondary-color);
}

.section ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: .5rem;
}

.section ul li {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.section ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.2s;
}

footer {
  flex-shrink: 0;
  background-color: var(--bg-color);
  padding: 1rem;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer-links a {
  font-size: 14px;
  color: var(--secondary-color);
  text-decoration: none;
}

.header-section {
  margin-top: 4rem;
}

.header-section p {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.restricted-width {
  max-width: 36rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header-section {
    margin-top: 0rem;
  }

  .hero {
    margin-top: 0rem;
    padding: 0rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  header {
    padding: 1rem;
  }

  nav {
    gap: 1rem;
    font-size: 0.85rem;
  }

  .container {
    padding: 2rem 1rem;
  }
}